.vscode/**
.gitignore
src/**
docs/**
node_modules/**
dist/webview/index.html
tsconfig.json
vite.config.ts
vitest.config.ts
package-lock.json
**/*.map
**/*.ts
bin/dsh-py/runtime/Python.framework/Resources
bin/dsh-py/runtime/Python.framework/Versions/Current
